<div class="container auth">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card mt-5">
          <div class="card-body">
            <h3 class="card-title text-center mb-4">Register</h3>
            <form (ngSubmit)="register()" >
              <div class="form-group">
                <label for="email">Name</label>
                <input type="email" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" class="form-control mt-1" id="name" placeholder="Enter email">
                <label for="email">Email address</label>
                <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control mt-1" id="email" placeholder="Enter email">
                <label for="password" class="mt-3">Password</label>
                <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control mt-1" id="password" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary btn-block mt-4">Register</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  