<div class="container" *ngIf="showForumCreate">
  <h1>Forum</h1>
  <form (ngSubmit)="createForum()">
    <div class="form-group">
      <label for="postTitle">Title</label>
      <input type="text" class="form-control" id="postTitle" [ngModelOptions]="{standalone: true}" [(ngModel)]="title" placeholder="Enter post title" required>
    </div>

    <div class="form-group">
      <label for="postContent">Content</label>
      <textarea class="form-control" [(ngModel)]="body" id="postContent" [ngModelOptions]="{standalone: true}" rows="6" placeholder="Enter post content" required></textarea>
    </div>

    <img [src]="image" alt="Selected Image" class="img-thumbnail">
    <div class="form-group upload">
      <input type="file" id="actual-btn" (change)="onFileSelected($event)" hidden/>
      <label for="actual-btn">Upload Image</label>
    </div>

    <div class="d-flex justify-content-between align-items-end">
      <div>
        <button class="btn btn-secondary" style="margin-right: 10px;" (click)="showForumCreate = false; title = ''; body = ''; image = null;">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
    
    
  </form>
</div>
<div *ngIf="!showForumCreate" class="container">
  <button class="btn btn-primary start-20 mb-2" (click)="showForumCreate = true">Create Forum</button>
  <div class="row">
    <div class="col-12">
      <div *ngFor="let post of posts" class="card mb-4">
        <img class="card-img-top" [src]="'http://localhost:3000/' + post.image" alt="Card image cap">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <h5 class="card-title">{{ post.title }}</h5>
            <button class="btn btn-link text-danger" (click)="likePost(post)">
              <i *ngIf="post.likes.includes(currentUser())" class="fas fa-heart"></i>
              <i *ngIf="!post.likes.includes(currentUser())" class="far fa-heart"></i>
              <span class="ml-2">{{ post.likes.length }}</span>
            </button>
          </div>
          <p class="card-text">{{post.body}}</p>
          <hr>
          <h6>
            Comments:
            <button class="btn btn-link btn-sm" (click)="toggleComments(post)"> 
              {{ post.showComments ? 'Hide' : 'Show' }}
            </button>
          </h6>
          <div *ngIf="post.showComments">
            <div *ngFor="let comment of post.comments" class="card mb-3">
              <div class="card-body">
                <p class="card-text">{{ comment.content }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="author-info">
                    <img class="author-avatar" src="assets/profile.jpeg" alt="{{ comment.author.name }} Avatar">
                    <span class="author-name">{{ comment.author.name }}</span>
                  </div>
                  <small class="text-muted">{{ comment.createdAt | date: 'medium' }}</small>
                </div>
              </div>
              
            </div>
            <form class="mt-4" (ngSubmit)="submitComment(post)">
              <div class="form-group">
                <label for="commentBody">Add a comment:</label>
                <textarea class="form-control" id="commentBody" rows="3" [(ngModel)]="newComment.body" name="body"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




