.container {
    margin-top: 20px;
    max-width: 800px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .card-img-top {
    object-fit: cover;
    height: 150px;
  }
  
  .card-img-top-custom {
    object-fit: cover;
    height: auto;
  }

  .upload label {
    border: 1px solid lightgrey;
    color: #0d6efd;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
  }
  .author-info {
    display: flex;
    align-items: center;
  }
  
  .author-avatar {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    border-radius: 50%;
  }
  
  .author-name {
    font-weight: bold;
    margin-right: 8px;
  }
  