header {
    background-color: #333;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    width: 100%;
  }
  
  .auth-links {
    display: flex;
    justify-content: flex-end;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .active-link {
    color: #ffc7d1 !important;
  }
  