<header>
  <nav *ngIf="true">
    <a routerLink="/forum" routerLinkActive="active-link">Forum</a>
    <div class="auth-links" *ngIf="!username()">
      <a routerLink="/login" routerLinkActive="active-link">Login</a>
      <a routerLink="/register" routerLinkActive="active-link">Register</a>
    </div>
    <div class="auth-links" *ngIf="username()">
      <a>{{username()}} |</a>
      <a routerLink="/login" routerLinkActive="active-link" (click)="logout()">Logout</a>
    </div>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
