<div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="card mt-3">
          <div class="card-body">
            <h2 class="card-title">Forum</h2>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <div class="media">
                  <img src="https://via.placeholder.com/64" class="mr-3" alt="...">
                  <div class="media-body">
                    <h5 class="mt-0">John Doe</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit, tortor at laoreet feugiat, ex lacus lobortis quam, eu dapibus quam odio ac enim.</p>
                  </div>
                </div>
                <hr>
              </div>
              <div class="col-md-12">
                <div class="media">
                  <img src="https://via.placeholder.com/64" class="mr-3" alt="...">
                  <div class="media-body">
                    <h5 class="mt-0">Jane Doe</h5>
                    <p>Nulla facilisi. Praesent sed nunc ut tellus eleifend tempus ut eget tortor. Curabitur euismod eros a metus varius, non volutpat est facilisis.</p>
                  </div>
                </div>
                <hr>
              </div>
              <div class="col-md-12">
                <div class="media">
                  <img src="https://via.placeholder.com/64" class="mr-3" alt="...">
                  <div class="media-body">
                    <h5 class="mt-0">Bob Smith</h5>
                    <p>Proin pellentesque est eu ante bibendum sollicitudin. Vivamus dictum sodales nulla, id lobortis neque placerat in. Pellentesque a urna sed arcu congue ultricies.</p>
                  </div>
                </div>
                <hr>
              </div>
            </div>
            <form>
              <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Post</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  