
@import '~@fortawesome/fontawesome-free/css/all.css';

.mat-snack-bar-container {
    z-index: 2147483647 !important;
  }

  .snackbar-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 12px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .snackbar-action {
    margin-left: 16px;
  }
  
  .snackbar-close {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  
  .snackbar-success {
    color: #43a047;
  }
  
  .snackbar-error {
    color: #d32f2f;
  }
  
  .auth {
    min-height: 80vh !important;
  }